<div class="container">
  <div class="jumbotron">
    <h1>Pinteresting</h1>
    <p>Because somehow you can recreate an app that got seed funding with a few pieces of JavaScript and a Rails backend.</p>
  </div>
</div>
